@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

$khula: 'Khula', sans-serif;
$manrope: 'Manrope', sans-serif;

$black: #000;
$white: #fff;
$red: #d33232;
$ligh_grey: #C4C4C4;

$main-transition: all linear 200ms;
